{{ partial "header.html" . }}
<div class="content-wrapper home-page">
  <main>
    {{ .Content }}
  </main>

  <section id="publications" class="publications-section">
    <h2>Publications</h2>
    <ul class="publications-list">
      {{ $publications := .Site.GetPage "/publication" }}
      {{ range ($publications.Pages.ByParam "date").Reverse }}
        <li class="publication-item">
          {{ if ne .Params.thumbnail "none" }}
          <div class="publication-thumbnail">
            {{ $thumb := .Params.thumbnail | default "/images/F3S.png" }}
            <img src="{{ $thumb }}" alt="{{ .Params.title }} thumbnail" class="thumb-img" height="84" loading="lazy">
          </div>
          {{ end }}
          <div class="publication-content">
            <span class="publication-title">{{ .Params.title }}</span>
            <span class="publication-authors">
              {{ $authors := split .Params.authors ", " }}
              {{ range $index, $author := $authors }}
                {{- if eq $author "Zitong Li" -}}
                  <strong>{{ $author }}</strong>
                {{- else -}}
                  {{ $author }}
                {{- end -}}
                {{- if not (eq $index (sub (len $authors) 1)) -}}, {{ end }}
              {{ end }}
            </span>
            <span class="publication-venue">{{ .Params.periodical }}, {{ dateFormat "2006" .Params.date }}</span>
            <a href="{{ .Params.link }}" class="publication-link" target="_blank" rel="noopener">DOI / Link →</a>
          </div>
        </li>
      {{ end }}
    </ul>
  </section>
</div>
{{ partial "footer.html" . }}
